[*.cs]

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = silent

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = silent
